
/*	.c3-axis-x text 
{
  font-size: 15px; 
}*/

body{
 background: url('otherphotos/silver6.jpg') no-repeat;
 background-size: cover;
}

img {
  background: url('otherphotos/loading.gif') no-repeat;
  image-orientation: 0deg;

}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
    opacity: 0.4;

}
.filter-button:hover
{
	opacity: 1;
    /*font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;*/

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
/*    margin-bottom: 30px;*/
    background-color: transparent;
    margin: 2%;
    border-radius: 8%;
/*    opacity: 0.4;*/
}
.gallery_product .grid-font-clr{
	opacity: 0;
}
.gallery_product:hover{
/*	opacity: 1;*/
background-color: black;
}
.gallery_product:hover .grid-font-clr{
opacity: 1;
}

.img-box{
width: 228px;
    height: 317px;
	border-radius: 7%;
	/*opacity: 0.4;*/
/*	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;*/
}

.img-box:hover{
/*	opacity: 1;*/
/*		-webkit-transform: scale(1.3);
	transform: scale(1.3);*/
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-class{
width: 100%;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


#shags-sec{
/*	background-color: grey;*/
/*	background-image: url('otherphotos/bg1.jpg');
	background-size: cover;
background-repeat: no-repeat;*/
}

.grid-font-clr{
/*	color: navajowhite;*/
color: white;
    font-family: cursive;
}

.nav-title{
max-height: 46px;
    margin-top: -13%;
    border-radius: 14%;
}

.img-container{
    position: relative;
}
.text-block {
position: absolute;
    bottom: 1px;
    right: 20px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-qv{
    background-color: black;
    color: white;
}

/*.pod-plp__description, .pod-plp__description--dpd {
    display: -webkit-box;
    display: box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    -webkit-line-clamp: 5;
    margin-bottom: 5px;
    }*/

